<div class="container" >
	<div class="slider">
		<div id="slider1" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#slider1" data-slide-to="0" class="active"></li>
				<li data-target="#slider1" data-slide-to="1"></li>
				<li data-target="#slider1" data-slide-to="2"></li>
				<li data-target="#slider1" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item ">
					<center><img src="app/assets/images/slider1.jpg" class='img-responsive' alt="image"></center>
				</div>
				<div class="item active">
					<center><img src="app/assets/images/slider2.jpg" class="img-responsive" alt="image"></center>
				</div>
				<div class="item">
					<center><img src="app/assets/images/slider3.jpg" class="img-responsive" alt="image"></center>
				</div>
				<div class="item">
					<center><img src="app/assets/images/slider4.jpg" class="img-responsive" alt="image"></center>
				</div>
			</div>
			<a href="#slider1" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a href="#slider1" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
	</div><br/>			
</div>


