<div class="container">
	<div class="page-header" style="font-size: 25px;font-weight: bold">User Registration</div>
	<form name='regForm' ng-submit="register.regUser(regData, regForm.$valid)" novalidate>
		<div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine) , 'has-error': (!regForm.name.$valid && !regForm.name.$pristine) || (regForm.$submitted && !regForm.name.$valid)}">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" placeholder="Name" ng-pattern="/^[a-zA-Z]{3,20}$/" ng-model="regData.name"  required>
					<p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || ( 	regForm.$submitted && regForm.name.$error.required)">This is required</p>
					<p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) ">Should consist of 	only alphabets with min 3 and max 20 characters</p>
				</div>

			</div>
		</div>
		<div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !regitser.emailinvalid) , 'has-error': (!regForm.email.$valid && !regForm.email.$pristine) || (regForm.$submitted && !regForm.email.$valid) || (regForm.email.$error.pattern) || (register.emailinvalid)}">
			<div class="form-group row">
				<label  class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="email" ng-blur="register.checkMail(regData)" placeholder="Email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' ng-model="regData.email" required>
					<p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || ( regForm.$submitted && regForm.email.$error.required)">This is required</p>
					<p class="help-block" style="font-family: Verdana, Geneva, Tahoma, sans-serif;" ng-show="(register.emailerrormsg && regForm.email.$valid)" >{{register.emailerrormsg}}</p>
					<P class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern)">Invalid email</P>
					
				</div>
			</div>
		</div>
		<div ng-class="{'has-success':(regForm.password.$valid && !regForm.password.$pristine) , 'has-error': (!regForm.password.$valid && !regForm.password.$pristine) || (regForm.$submitted && !regForm.password.$valid) || (regForm.password.$error.pattern)}">
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="password" placeholder="Password" ng-pattern='/^\w{5,20}$/' ng-model="regData.password" required>
				<p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || ( regForm.$submitted && regForm.password.$error.required)">This is required</p>
				<P class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern)">Must contain min 5 and max 20 characters</P>

			</div>
		</div>
		</div>
		<div ng-class="{'has-success':(regForm.mobile.$valid && !regForm.mobile.$pristine && !register.phoneinvalid) , 'has-error': (!regForm.mobile.$valid && !regForm.mobile.$pristine) || (regForm.$submitted && !regForm.mobile.$valid) || (regForm.mobile.$error.pattern) || (register.phoneinvalid)}">
			<div class="form-group row">
			<label class="col-sm-2 col-form-label">Mobile</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="mobile" placeholder="Mobile" ng-blur="register.checkPhone(regData)" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" ng-model="regData.mobile" required>
				<p class="help-block" ng-show="(!regForm.mobile.$pristine && regForm.mobile.$error.required) || ( regForm.$submitted && regForm.mobile.$error.required)">This is required</p>
				<p class="help-block" ng-show="register.phoneerrormsg && regForm.mobile.$valid">{{register.phoneerrormsg}}</p>
				<P class="help-block" ng-show="(!regForm.mobile.$pristine && regForm.mobile.$error.pattern)">Must contain 10 digits only</P>
			</div>
		</div>
		</div>
		<button class="btn btn-primary" type="submit" ng-disabled="">Register</button>
	</form>

	<br>
	<div class="jumbotron text-center col-sm-8" ng-show="register.loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Creating User</p>
	</div>
	<div class="row show-hide-message col-sm-8 wow fadeIn" wow-data-duration='3s' ng-show="register.successmessage">
		<div class="alert alert-success">{{ register.successmessage }}</div>
	</div>
	<div class="row show-hide-message col-sm-8 col-sm-8 wow fadeIn" wow-data-duration='3s' ng-show="register.errormessage">
		<div class="alert alert-danger">{{register.errormessage}}</div>
	</div>
</div>